<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="style.css">
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">

    <title>Hangman</title>
  </head>


  <body>
    <center>
    <h1>H A N G M A N </h1>


    <div class="container">
      {{{yield}}}
    </div>
  </center>
  </body>
</html>
