<body>

  <div class="loser">

    <h3> The correct word is: {{#random_word}}{{.}}{{/random_word}}</h3>
      <h2>You Lost!, click below to play again!</h2>



<a href="/">Play Again</a>
</div>
</body>
