
<body>
<h2>Congrats, You've Won!</h2>
<form class="" action="/win" method="post">
  <h2>Click below and play again! </h2>
  <br></br>

  <button type="submit" name="button">Play Again</button>
</form>
</body>
