body {
  background-color: rgb(68, 95, 130);
font-family: 'Poppins', sans-serif;
}
button {
  height: 40px;
  border: 4px solid white;
  background-color: rgb(68, 95, 130);
  border-radius: 10px;
  color: white;
  font-size: 20px;
}

h1 {
  border: 2px solid white;
  border-radius: 10px;
  background-color: white;
  color: rgb(68, 95, 130);
  font-size: 50px;

}
form {
  border: 2px solid white;
  background-color: white;
  margin: 50px;
  width: 300px;
  border-radius: 10px

}
.all {
  border: 2px solid white;
  background-color: white;
  color: rgb(68, 95, 130);
font-weight: bold;
font-size: 35px;
width: 500px;
border-radius: 10px;
}
input {
  height: 40px;
  marginr: 20px;
  border-color: 3px solid rgb(68, 95, 130);
  background-color: rgb(68, 95, 130);
  color: white;
  font-size: 20px;
  width: 50px;
  border-radius: 10px;
}
#attempt {
  color: red;
  font-size: 40px;
}
.loser {
  border: 3px solid white;
  border-radius: 10px;
  background-color: white;
  height: 180px;

}
h2 {
  color: rgb(68, 95, 130);
}
a {
  border: 4px solid rgb(68, 95, 130);
  background-color: rgb(68, 95, 130);
  border-radius: 10px;
  margin: 40px;
  height: 60px;
  color: white;
  text-decoration: none;
}
.guessed {
  border: 4px solid white;
  background-color: white;
  color: rgb(68, 95, 130);
height: 2r00px;
width: 500px;
border-radius: 10px;
}
